---
import { request } from "undici";
import { DiscordSessionData, getSessionData } from "../models/discordSession";

import Layout from "../layouts/Layout.astro";

const discord_oauth = import.meta.env.DISCORD_OAUTH_LINK;

let params: any = {};

if (Astro.cookies.has("seshdata")) {
    console.log("Cookie found!");

    let seshData = await getSessionData(
        await Astro.cookies.get("seshdata").value!
    );
    if (seshData) {
        const userData = await request("https://discord.com/api/users/@me", {
            headers: {
                authorization: `${seshData.token_type} ${seshData.access_token}`,
            },
        });

        const userResult = await userData.body.json();

        params.displayname = userResult.global_name;
    }
} else {
    // We don't have an access token yet.
}
---

<Layout title="Discord Oauth2 Flow">
    {
        !params.displayname ? (
            <a id="login" href={discord_oauth}>
                Login With Discord :O
            </a>
        ) : (
            <p>Welcome, {params.displayname}!</p>
        )
    }
</Layout>
